.container-main {
  text-align: center;
  margin-top: 100px;
}

.title {
  margin-top:50px;
  text-align: center;
  font-size: 17px;
  color: #CAB84A;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 100;
  letter-spacing: 12px;
}

.second-heading {
  margin-top: -32px;
}

.icon {
 
  align-items: center;
  margin: 150px;

}