.container-main {
  text-align: center;
  margin-top: 200px;
  
}

.title {
  margin-top:80px;
  text-align: center;
  font-size: 30px;
  color: #CAB84A;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
}

.second-heading {
  margin-top: -32px;
}